<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Category</h1>
  <form action="/cat/add-category" method="POST">
    <input type="text" name="name" placeholder="Category Name">
    <button type="submit">Add Category</button>
</body>
</html>