<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>view Category</h1>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Timestamp</th>
        </tr>
        <% categories.forEach(category => { %>
            <tr>
                <td><%= category.name %></td>
                <td><%= category.status %></td>
                <td><%= category.timestamp.toLocaleString() %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>