<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= people %>
    <% for(let i=0; i<people; i++) { %>
    <input type="text" name="person<%= i %>" value="<%= people[i] %>">
    
    <br/>
    <% } %>
</body>
</html>